:root { 
  --bg: #000000; 
  --card: #141414; 
  --neon: #ccff00; 
  --text: #ffffff; 
  --red: #ff3b3b;
}

body { 
  background: var(--bg); 
  color: var(--text); 
  font-family: sans-serif; 
  margin: 0; 
  padding: 15px; 
}

.container { max-width: 450px; margin: 0 auto; }
.logo span { color: var(--neon); }

.budget-card { 
  background: var(--card); 
  padding: 20px; 
  border-radius: 16px; 
  margin: 20px 0; 
  border: 1px solid #222; 
}

.flex-row { display: flex; justify-content: space-between; align-items: center; }
.b-input { 
  background: none; border: none; color: var(--neon); width: 100px; 
  text-align: right; font-size: 18px; font-weight: bold; outline: none;
}

.input-group-vertical { display: flex; flex-direction: column; gap: 10px; margin-bottom: 25px; }
.row { display: flex; gap: 8px; }

input { 
  background: #1f1f1f; border: 1px solid #333; color: #fff; 
  padding: 12px; border-radius: 8px; flex: 1; outline: none;
}

button[type="submit"] { 
  background: var(--neon); color: #000; border: none; 
  padding: 12px; border-radius: 8px; font-weight: bold; flex: 1;
}

.item { 
  background: var(--card); margin-bottom: 12px; border-radius: 12px; 
  padding: 15px; border: 1px solid #222;
}

.item-main { display: flex; justify-content: space-between; align-items: center; cursor: pointer; }
.name { font-weight: bold; font-size: 1.1rem; }
.sub { font-size: 0.8rem; color: #888; margin-top: 4px; }
.total-price { font-weight: bold; color: var(--neon); }

.item-actions { 
  display: flex; gap: 10px; margin-top: 12px; 
  padding-top: 12px; border-top: 1px solid #222; 
}

.item-actions button { 
  flex: 1; background: #252525; color: white; border: none;
  padding: 8px; border-radius: 6px; font-size: 16px;
}

.del-btn { color: var(--red) !important; background: #2a1515 !important; }
.item.done { border-color: var(--neon); opacity: 0.5; }

.bar { height: 6px; background: #222; border-radius: 3px; margin-top: 15px; overflow: hidden; }
.fill { height: 100%; background: var(--neon); transition: 0.3s; }
.clear-btn { width: 100%; background: none; border: 1px solid #222; color: #555; padding: 12px; border-radius: 8px; margin-top: 20px; }
.red { color: var(--red); }
